<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>MBTITest</title>
</head>
<body >
<link rel="stylesheet" type="text/css" href="test.css"/>
<form>
    <h3>请输入以下基本信息:</h3>
    年龄：<input type="text" name="age" id="0"/>
    城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：<input type="text" name="city" id="1"/>
    <br></br>
    
    学历：<input type="text" name="education" id="2"/>
    工作年限：<input type="text" name="WorkTime" id="3"/>
    <hr/>
</form>
 <div align="center" >
 
<form action="http://176.198.102.14:8092/testresult" method="get">
  
    <h3>以下哪一个答案最能贴切的描绘你一般的感受或行为？</h3>
    <p>
        1.当你外出一整天，你会？<br/>
        <input type="radio" name="q1" id="1-A" value="A"/>计划你要做什么和在什么时候做
        <input type="radio" name="q1" id="1-B" value="B"/>说走就走
    </p>
    <br/>

    <p>
        2.你认为自己是一个？<br/>
        <input type="radio" name="q2" id="2-A" value="A"/>较为随性所致的人
        <input type="radio" name="q2" id="2-B" value="B"/>较为有条理的人
    </p>
    <br/>

    <p>
        3.假如你是一位老师，你会选教？<br/>
        <input type="radio" name="q3" id="3-A" value="A"/>以事实为主的课程
        <input type="radio" name="q3" id="3-B" value="B"/>涉及理论的课程
    </p>
    <br/>

    <p>
        4.你通常？<br/>
        <input type="radio" name="q4" id="4-A" value="A"/>与人容易混熟
        <input type="radio" name="q4" id="4-B" value="B"/>比较沉静或矜持
    </p>
    <br/>

    <p>
        5.一般来说，你和哪些人比较合得来？<br/>
        <input type="radio" name="q5" id="5-A" value="A"/>富于想象力的人
        <input type="radio" name="q5" id="5-B" value="B"/>现实的人
    </p>
    <br/>

    <p>
        6.你是否经常让<br/>
        <input type="radio" name="q6" id="6-A" value="A"/>你的情感支配你的理智
        <input type="radio" name="q6" id="6-B" value="B"/>你的理智主宰你的情感
    </p>
    <br/>

    <p>
        7.处理许多事情上，你会喜欢<br/>
        <input type="radio" name="q7" id="7-A" value="A"/>凭兴所至行事
        <input type="radio" name="q7" id="7-B" value="B"/>按照计划行事
    </p>
    <br/>

    <p>
        8.你通常？<br/>
        <input type="radio" name="q8" id="8-A" value="A"/>与人容易混熟
        <input type="radio" name="q8" id="8-B" value="B"/>比较沉静或矜持
    </p>
    <br/>

    <p>
        9.你是否<br/>
        <input type="radio" name="q9" id="9-A" value="A"/>容易让人了解
        <input type="radio" name="q9" id="9-B" value="B"/>难于让人了解
    </p>
    <br/>

    <p>
        10.按照程序表做事<br/>
        <input type="radio" name="q10" id="10-A" value="A"/>合你心意
        <input type="radio" name="q10" id="10-B" value="B"/>令你感到束缚
    </p>
    <br/>

    <p>
        11.在大多数情况下，你会选择<br/>
        <input type="radio" name="q11" id="11-A" value="A"/>顺其自然
        <input type="radio" name="q11" id="11-B" value="B"/>按程序表做事
    </p>
    <br/>

    <p>
        12.大多数人会说你是一个<br/>
        <input type="radio" name="q12" id="12-A" value="A"/>重视自我隐私的人
        <input type="radio" name="q12" id="12-B" value="B"/>非常坦率开放的人
    </p>
    <br/>

    <p>
        13.你宁愿被人认为是一个<br/>
        <input type="radio" name="q13" id="13-A" value="A"/>实事求是的人
        <input type="radio" name="q13" id="13-B" value="B"/>机灵的人
    </p>
    <br/>

    <p>
        14.在一大群人当中，通常是<br/>
        <input type="radio" name="q14" id="14-A" value="A"/>你介绍大家认识
        <input type="radio" name="q14" id="14-B" value="B"/>别人介绍你
    </p>
    <br/>

    <p>
        15.你会跟哪些人做朋友？<br/>
        <input type="radio" name="q15" id="15-A" value="A"/>常提出新注意的
        <input type="radio" name="q15" id="15-B" value="B"/>脚踏实地的
    </p>
    <br/>

    <p>
        16.你倾向<br/>
        <input type="radio" name="q16" id="16-A" value="A"/>重视感情多于逻辑
        <input type="radio" name="q16" id="16-B" value="B"/>重视逻辑多于感情
    </p>
    <br/>

    <p>
        17.你比较喜欢<br/>
        <input type="radio" name="q17" id="17-A" value="A"/>坐观事情发展才作计划
        <input type="radio" name="q17" id="17-B" value="B"/>很早就作计划
    </p>
    <br/>
    <p>
        18.你喜欢花很多的时间？<br/>
        <input type="radio" name="q18" id="18-A" value="A"/>一个人独处
        <input type="radio" name="q18" id="18-B" value="B"/>合别人在一起
    </p>
    <br/>

    <p>
        19.与很多人一起会<br/>
        <input type="radio" name="q19" id="19-A" value="A"/>令你活力培增
        <input type="radio" name="q19" id="19-B" value="B"/>常常令你心力憔悴
    </p>
    <br/>

    <p>
        20.在社交聚会中，你<br/>
        <input type="radio" name="q20" id="20-A" value="A"/>有时感到郁闷
        <input type="radio" name="q20" id="20-B" value="B"/>常常乐在其中
    </p>
    <br/>

    <input type="submit" value="提交"/>

</form>
</div>
</body>
</html>