<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bradypods.user.mapper.UserMapper">
	<select id="queryName" parameterType="string" resultType="int">
		select count(user_id) from t_user where user_name=#{userName};
	</select>
	<insert id="insertUser" parameterType="com.bradypods.pojo.User">
		insert into t_user(
		user_id,
		user_name,
		user_password,
		user_nickname,
		user_email,
		user_type
		) values(
		#{userId},
		#{userName},
		#{userPassword},
		#{userNickname},
		#{userEmail},
		#{userType}
		)
	</insert>
	<select id="selectExist" parameterType="com.bradypods.pojo.User" resultType="com.bradypods.pojo.User">
		select * from t_user where user_name=#{userName} and
		user_password=#{userPassword};
	</select>
</mapper> 












